/*
 * Custom Fonts
 * -------------------------------------------------------------------------- */

@font-face {
 font-family: 'code';
 src: url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontRegular.eot");
 src: url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontRegular.eot?#iefix") format("embedded-opentype"),
 url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontRegular.woff2") format("woff2"),
 url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontRegular.woff") format("woff"),
 url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontRegular.ttf") format("truetype"),
 url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontRegular.svg#Code-Pro-LC") format("svg");
 font-weight: 300;
 font-style: normal;
}
@font-face {
 font-family: 'code';
 src: url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontLight.eot");
 src: url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontLight.eot?#iefix") format("embedded-opentype"),
 url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontLight.woff2") format("woff2"),
 url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontLight.woff") format("wof"’),
 url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontLight.ttf") format("truetype"),
 url("https://storage.googleapis.com/cykloud.appspot.com/static/font/code/CodeFontLight.svg#Code-Pro-Light-LC") format("svg");
 font-weight: 100;
 font-style: normal;
}

/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #fff;
$text-color: #38393C;
$brand-color: #08a6d6;

/*
 * Typography
 * -------------------------------------------------------------------------- */

$titles: "code", 'Helvetica', sans-serif;
$font-family-base: 'Roboto', 'Helvetica', sans-serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$sm: 480px;
$md: 768px;
$lg: 1024px;


/* CyK Primary Colors */
$cyk-blue1: #08a6d6;
$cyk-blue2: #0f6f92;
$cyk-red: #cf142b;
$cyk-yellow: #f7b50c;
$cyk-green: #7dba00;

/* CyK Secondary Colors */
$cyk-purple: #7c4dff;
$cyk-yellow2: #ffa100;
$cyk-blue3: #22a8f0;
$cyk-orange: #e54919;
$cyk-red2: #d91e18;

/* CyK Training */
$cykt-red1: #d32f2f;
$cykt-red2: #f44336;
$cykt-clear: #ffcdd2;
$cykt-blue1: #536dfe;
$cykt-blue2: #8c9eff;

/* CyK CodeFly */
$cf-blue: #3599DB;
$cf-red: #CF000E;
$cf-purple: #8E44AD;
$cf-green: #26A65B;
$cf-yellow: #F5D140;

/* Grey scale */
$b-1: #212121;
$b-2: #38393C;
$b-3: #727272;
$b-4: #B6B6B6;
$w: #fff;