
/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #fff;
$text-color: #38393C;
$brand-color: #08a6d6;

/*
 * Typography
 * -------------------------------------------------------------------------- */

$titles-font: code, 'Helvetica', sans-serif;
$text-font: geo, 'Helvetica', sans-serif;
$font-family-base: 'Roboto', 'Helvetica', sans-serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$sm: 480px;
$md: 768px;
$lg: 1024px;


/* CyK Primary Colors */
$cyk-blue1: #08a6d6;
$cyk-blue2: #0f6f92;
$cyk-red: #cf142b;
$cyk-yellow: #f7b50c;
$cyk-green: #7dba00;

/* CyK Secondary Colors */
$cyk-purple: #7c4dff;
$cyk-yellow2: #ffa100;
$cyk-blue3: #22a8f0;
$cyk-orange: #e54919;
$cyk-red2: #d91e18;

/* CyK Training */
$cykt-red1: #d32f2f;
$cykt-red2: #f44336;
$cykt-clear: #ffcdd2;
$cykt-blue1: #536dfe;
$cykt-blue2: #8c9eff;

/* CyK CodeFly */
$cf-blue: #3599DB;
$cf-red: #CF000E;
$cf-purple: #8E44AD;
$cf-green: #26A65B;
$cf-yellow: #F5D140;

/* Grey scale */
$b-1: #212121;
$b-2: #38393C;
$b-3: #727272;
$b-4: #B6B6B6;
$w: #fff;

$section-color: #edf3f5;
